// Page: Content
// -----------------------------------------------------------------------------


.content-block {
  margin-top: 20px;
}


.rules-section {
  & h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  max-width: 800px;
  margin: 30px auto;

  &:before {
    content: " ";
    position: relative;
    display: block;
    max-width: 302px;
    margin: 50px auto;
    border-bottom: 3px solid $main-color;
  }
}

.vefl-1col {
  display: flex;
  padding: 0 5px;

  & .form-group {
    margin-bottom: 8px !important;
  }

  & .js-form-item {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    padding: 0 15px;

    & .custom-select {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 65px;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 1.75rem 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 300;
      font-style: italic;
      line-height: 1.5;
      color: #495057;
      vertical-align: middle;
      border: 2px solid rgba(0,0,0,0.2);
      border-radius: 0.25rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      &:focus {
        box-shadow: none;
      }
    }

    & .ui-slider-handle {
      top: -.6em;
      height: 1em;
      width: 1em;
      margin-left: -.5em;
      border-radius: 50px;
      background-color: $main-color;
      border-color: transparent;
      outline: none;
      cursor: pointer;
    }

    & .form-control {
      text-align: center;
      font-size: 18px;
      border-radius: 0;
      border: none;
      border-bottom: 2px solid $main-color;

      &:focus {
        box-shadow: none;
      }

    }


    & .ui-slider-horizontal {
      height: 0;
      border-color: transparent;
    }
  }
}


.decor-font {
  font-family: $decoration-font;
  font-size: 20px;
  line-height: 1em;
}
.tags-list {
  & img {
    padding: 10px;
  }
}
.image-list {
  text-align: center;
  padding: 70px 0;
}
.work-list {
  text-align: center;
  padding: 70px 0;
  & h2 {
    margin-bottom: 1em;
  }
  & img {
    padding: 10px;
  }
}
.offer-list {
  text-align: center;
  padding: 70px 0;
  color: $light-color;
  background-color: #004966;
  & h2 {
    margin-bottom: 1em;
  }
  & img {
    padding: 10px;
  }
}
.welcome-section {
  color: #004966;
  text-align: left;
  padding-top: 100px;
  & h2 {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.blog-item {
  margin: 50px 0;
  border: 1px solid grey;
  & .blog-img {
    position: relative;
    & img {
      width: 100%;
    }
    & .blog-link {
      position: absolute;
      top: 0;
      right: 0;
      background-color: white;
      line-height: 1.2;
      color: $secondary-color;
      &:hover {
        color: $major-color;
      }
      &:after {
        font-family: FontAwesome;
        content: "\f064";
        font-size: 2em;
        cursor: pointer;

      }
    }
  }
  & .blog-desc {
    padding: 5px 10px;
    & a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      color: $dark-color;
      &:hover {
        text-decoration: none;
        color: $major-color;
      }
    }
    & p {
      font-size: 12px;
    }
  }
  & .blog-day {
    text-align: center;
    border-top: 1px solid grey;
    padding: 5px 0;
  }
}
.block--searchform {
  margin: 50px 0;
  color: $light-color;
  background-color: $secondary-color;
  padding: 20px;
  & h2 {
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .form-inline {
    display: -webkit-box;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
  }
  .form-actions {
    display: none;
  }
  .form-control {
    display: block;
    width: 100% !important;
    height: calc(2em + 0.75rem + 2px);
    padding: 0.1rem 0.3rem;
    font-size: 16px;
    color: white !important;
    font-weight: 500;
    line-height: 1.5;
    width: 100%;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
.webform-submission-news-letter-add-form {
  color: $light-color;
  background-color: $secondary-color;
  padding: 20px;
  margin-bottom: 50px;
  & label {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
  }
  & small {
    font-size: 1em;
    margin-bottom: 1.5em;
  }
  & .webform-button--submit {
    width: 100% !important;
  }
  & .form-control {
    margin-top: 20px;
    display: block;
    width: 100% !important;
    height: calc(2em + 0.75rem + 2px);
    padding: 0.1rem 0.3rem;
    font-size: 16px;
    color: white !important;
    font-weight: 500;
    line-height: 1.5;
    width: 100%;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
.filter-work {
  list-style: none;
  & a {
    color: $dark-color;
    &:hover {
      color: $major-color;
    }
  }
  & li {
    display: inline;
    margin: 0 20px;
    font-size: 24px;
  }

}
.blog-wrapper {
  padding-top: 50px;
}
.breadcrumb {
  display: -webkit-box;
  display: flex;
  color: $light-color !important;
  font-size: 18px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  background-image: url(/sites/default/files/br.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 50% 50%;
  & .breadcrumb-item {
    color: $light-color;
    font-size: 18px;
    & .active {
      color: $light-color;
      font-size: 18px;
    }
  }
}


